In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler

In [2]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'James', None],
    'Age': [28, 22, np.nan, 32, 40, 25],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Income': [50000, 60000, 55000, None, 70000, 62000]
}
df = pd.DataFrame(data)
print(df)

    Name   Age  Gender   Income
0   John  28.0    Male  50000.0
1   Anna  22.0  Female  60000.0
2  Peter   NaN    Male  55000.0
3  Linda  32.0  Female      NaN
4  James  40.0    Male  70000.0
5   None  25.0  Female  62000.0